development:
  dialect: cockroach
  database: {{.opts.Prefix}}_development
  host: {{"{{"}}envOr "COCKROACH_HOST" "127.0.0.1"  }}
  port: {{"{{"}} envOr "COCKROACH_PORT" "26257"  }}
  user: {{"{{"}} envOr "COCKROACH_USER" "root"  }}
  password: {{"{{"}} envOr "COCKROACH_PASSWORD" ""  }}
  pool: 5

test:
  dialect: cockroach
  database: {{.opts.Prefix}}_test
  host: {{"{{"}} envOr "COCKROACH_HOST" "127.0.0.1"  }}
  port: {{"{{"}} envOr "COCKROACH_PORT" "26257"  }}
  user: {{"{{"}} envOr "COCKROACH_USER" "root"  }}
  password: {{"{{"}} envOr "COCKROACH_PASSWORD" ""  }}
  pool: 5

production:
  dialect: cockroach
  database: {{.opts.Prefix}}_production
  host: {{"{{"}} envOr "COCKROACH_HOST" "127.0.0.1"  }}
  port: {{"{{"}} envOr "COCKROACH_PORT" "26257"  }}
  user: {{"{{"}} envOr "COCKROACH_USER" "root"  }}
  password: {{"{{"}} envOr "COCKROACH_PASSWORD" ""  }}
  pool: 5
