development:
  dialect: "mysql"
  database: "{{.opts.Prefix}}_development"
  host: "localhost"
  port: "3306"
  user: "root"
  password: "root"
  encoding: "utf8mb4_general_ci"

test:
  url: {{"{{"}}envOr "TEST_DATABASE_URL" "mysql://root:root@(localhost:3306)/{{.opts.Prefix}}_test?parseTime=true&multiStatements=true&readTimeout=1s"}}

production:
  url: {{"{{"}}envOr "DATABASE_URL" "mysql://root:root@(localhost:3306)/{{.opts.Prefix}}_production?parseTime=true&multiStatements=true&readTimeout=1s"}}
